{% extends "base.html" %}

{% block title %}Log In {{ block.super }}{% endblock %}

{% block content %}
<div id='login-container'>

{% if error_message %}
<p class="errornote">{{ error_message }}</p>
{% endif %}

<div id='login-form'>
    
    <form method="post" action="." class='login'>
        <div class='form-row {{ form.username.errors|yesno:"has-error," }}'>
            {{ form.username.errors }}
            <label for='id_username'>Username:</label>
            {{ form.username }}
        </div>
        <div class='form-row {{ form.password.errors|yesno:"has-error," }}'>
            {{ form.password.errors }}
            <label for='id_password'>Password:</label>
            {{ form.password }}
        </div>
        <div class='submit-row'>
            <input type="submit" value="Log in" />
        </div>
        <input type='hidden' name='next' value='/' />
    </form>
</div>

</div>

{% endblock %}
