<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <link href="{{ MEDIA_URL }}css/reset.css" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}css/text.css" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}css/960.css" media="all" rel="stylesheet" type="text/css" />
        <link href="{{ MEDIA_URL }}css/style.css" media="all" rel="stylesheet" type="text/css" />
        <title>{% block title %}{% endblock %}(DocComment example)</title>

        {% block head %}{% endblock %}
    </head>

    <body>
    <div id='container'>
        <div id='header' class='container_16 clearfix'>
            <div id='branding'>
                <a href='/' id='site-name'>
                DocComment Demo
                </a>
            </div>
            <div id='user-links'>
                Welcome 
                {% if user.is_authenticated %}
                    <strong>{{ user.username }}</strong>.
                    [ {% if user.is_staff %}<a href='{% url doccomment_draft_list %}'>Manage Documents</a> |{% endif %}
                    <a href='{% url auth_logout %}'>Log Out</a> ]
                {% else %}
                    <strong>stranger</strong>
                    [ <a href='{% url auth_login %}'>Log In</a> ]
                {% endif %}
            </div>
        </div>

        <div id='content' class='container_16 clearfix'>
            {% block content %}{% endblock %}
        </div>
    </div>
    <div id='footer'>
        This is a example django project that uses <a href='http://github.com/shawnchin/django-doccomment'>DocComment</a>. 
    </div>
    </body>
</html>