html, body, #container { height: 100%; }
body > #container { height: auto; min-height: 100%; }

/* ----- HEADER ----- */ 
#header {
    background-color: #417690;
    padding: 3px 10px 3px 10px;
    color: #ffc;
}
#header a:link, #header a:visited {
    color: white;
    text-decoration: none;
}
#header a:hover {
    text-decoration: underline;
}
#site-name {
    color: #F4F379 !important;
    font-size: 18px;
    font-weight: normal;
    margin: 8px 0;
    padding: 0 10px;
    float: left;
}
#user-links {
    float: right;
    margin-top: 20px;
}


/* ----- FOOTER ------ */
#footer {
    text-align: center;
    color: #999;
    background-color: #ddd;
    padding-top: 1em;
    /* make footer stick to bottom */
    clear: both;
    position: relative;
    z-index: 10;
    height: 3em;
    margin-top: -3em;
}
#footer a {
    color: #888;
    font-weight: bold;
    text-decoration: none;
}
#footer a:hover {
    text-decoration: underline;
}

/* ------- CONTENT ------- */

/* make sure content does not overflow behind footer */
#content { padding-bottom: 3em; }

/* ------- FORMS --------- */

.form-row {
    float: left;
    padding: 4px 0;
    width: 100%;
}
.form-row label {
    color: #333333;
    float: left;
    font-size: 1em;
    line-height: 2em;
    padding-right: 0.5em;
    text-align: right;
    width: 10em;
}

input, textarea, select {
    font-family: "Lucida Grande",Verdana,Arial,sans-serif;
    font-size: 11px;
    font-weight: normal;
    margin: 2px 0;
    padding: 2px 3px;
    vertical-align: middle;
}

input[type="text"],
input[type="password"],
textarea, select  {
    border: 1px solid #CCCCCC;
}

.editor-form-row input { width: 550px; }
.editor-form-row textarea {
    width: 600px;
    height: 300px;
}
.comment-form-row textarea {
    width: 450px;
    height: 150px;
}
.submit-row {
    clear: both;
    padding: 1em 0 0 12em;
}


/* ------- LOGIN -------- */

#login-container { margin-top: 50px; }
#login-form {
    border: 1px solid #ccc;
    background-color: #eee;
    min-width: 300px;
    width: 28em;
    margin-left: auto;
    margin-right: auto;
    padding: 15px;
}

/* ------- misc ------ */

.preview-box {
    border: 1px solid #ccc;
    padding: 5px;
    background-color: #eee;
}
